/* resets de estilos */
/* {
   margin: 0;
   padding: 0;
  }

  /* Elemento raíz */

:root{

   --font-family-base:'Open Sans', sans-serif;
   --font-family-alt:'Roboto', sans-serif;
   --font-family-c:'Roboto Mono', monospace;
  --color-white: #fff;
  --color-dark: #333;
   --color-bg: rgba(0,0,0,.1);
   --color-red1: #3D0000;
   --color-red2: #950101;
   --color-blue: #A2D2FF;
   --color-salmon: #FF865E;
   --color-yellow: #FEE440;
   --color-white2:  #FEF9EF;
}

  html {
    font-size: 16px;
  }
@media screen and ( max-width: 400px ) {
  html  {
    font-size: 13px;
  
}
}

/* body */

body {
  background-color: #FEF9EF;
  background-image: url("fondoweb.png");
}

  body {
    font-family: var(--font-family-alt); 
    font-size: 1rem;
     line-height: 1,5;
     color: var(--color-dark);
      }

/* Estilos tipograficos */    
h1 {
 font-family: var(--font-family-c);
      font-size: 45px;
      color: var(--color-white);
    }
    h2 {
      font-family: var(--font-family-c);
      font-size: 60 px;
      color: var(--color-yellow);
     text-align: center;
       
    }
    
    /*container*/ 
    
    .container {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    
    /* cabecera */
  .site-header {
      padding: 2rem;
      background-color: var(--color-yellow);
    }
.site-navigation {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-blue);
  font-family: var(--font-family-c)
}
.site-navigation a {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  padding: .5rem 1rem;
  color: var(--color-white2);
  background-color: var(--color-blue);
  text-align: center;
  text-decoration: none;
  font-size: .85rem;
  border: 1px solid currentColor ;


}

.site-navigation a:hover {
  color: var(--color-dark);
  background-color: var(--color-white);
  border-color: var(--color-white)
}
    /* Pie de página */
  .site-footer {
    padding: 2rem;
    background-color: var(--color-yellow);
    margin:100px 100px ;
    color: var(--color-white2);
    text-align: right;
    font-family: var(--font-family-base)
  }

  /* columnas */
  .columna { background: var(--color-blue) ;
    color: var(--color-white2);
    padding: 50px;
    width: 25%;
    margin:10px;
    
  }

  .padre
  { display: flex;
  }

  p{ background-color: var(--color-salmon);
    font-family: var(--font-family-base);
    font-size: 15px;
    text-align: center;
   
    padding: 40px;
    color: var(--color-white2);
  }