body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
    }
h1 {
    color: rgb(11, 16, 22);
}
address { 
         color:blue
        }        
footer { 
        color: blue;
     } 
h1 {
         color: rgb(30, 36, 43);
        }
        
h1 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
      font-size: 40px;
    }
    main
    {
      image;
    }